h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto;
}

:root {
  --main-font: "Raleway";
  --title-font: "Playfair Display";
  --basic-font: "Roboto";
  --white-color: #fff;
  --yellow-color: #d4c17f;
  --background-color: #242b33;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition: background-color ease-in-out 0.3s;
  z-index: 1;
}

.header.scrolling {
  background-color: var(--background-color);
}
.header.scrolling .header-content {
  padding: 15px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  transition: padding ease-in-out 0.3s;
}

.header-logo {
  fill: var(--white-color);
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-item a {
  color: var(--white-color);
  font-family: var(--main-font);
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.05em;
}

.header-item:hover a,
.header-item:focus a {
  color: var(--yellow-color);
}

.hero {
  background: url(./image/hero.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-content {
  padding-top: 296px;
  padding-bottom: 74px;
}

.hero-title-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3;
  text-align: center;
  color: var(--yellow-color);
  max-width: 556px;
}

.hero-svg {
  fill: var(--yellow-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.hero-contacts {
  margin-top: 200px;
}

.hero-list {
  display: flex;
  justify-content: center;
  gap: 98px;
}

.hero-item {
  display: flex;
  gap: 15px;
  fill: var(--white-color);
  color: var(--white-color);
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
}

.advantages {
  background-color: var(--background-color);
}

.advantages-content {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}

.advantages-list {
  display: flex;
  gap: 65px;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  gap: 53px;
  justify-content: center;
  text-align: center;
}

.advantages-svg {
  fill: var(--yellow-color);
}

.advantages-text {
  color: var(--white-color);
  font-family: var(--basic-font);
  font-weight: 300;
  font-size: 20px;
  line-height: 1.35;
}

.advantages-number {
  position: absolute;
  right: -157px;
  top: -40px;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 400px;
  line-height: 1.33;
  color: var(--white-color);
  opacity: 0.02;
}

.apartments {
  background-color: var(--background-color);
}

.apartments-content {
  position: relative;
}

.apartments-title {
  font-family: var(--title-font);
  color: var(--yellow-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
}

.apartments-number {
  position: absolute;
  left: -226px;
  top: -28px;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 400px;
  line-height: 1.33;
  color: var(--white-color);
  opacity: 0.02;
}

.apartments-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding-top: 100px;
}

.apartments-item {
  position: relative;
}
.apartments-text {
  position: absolute;
  left: 50px;
  bottom: 50px;
  color: var(--white-color);
  font-family: var(--main-font);
  font-size: 24px;
  line-height: 1.16;
  cursor: pointer;
}

.apartments-text:hover {
  color: var(--yellow-color);
}

.form {
  background-color: var(--background-color);
  background: url(./image/formimage.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.form-content {
  padding-bottom: 180px;
  display: flex;
  gap: 35px;
}

.form-title {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 36px;
  color: var(--yellow-color);
  line-height: 1.3;
  padding-top: 180px;
}

.form-description {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
  padding-top: 50px;
  max-width: 535px;
  margin: 0 auto;
}

.form-double {
  display: flex;
  gap: 30px;
  max-width: 540px;
  margin: 0 auto;
}

.form-input {
  background-color: var(--white-color);
  opacity: 0.2;
  padding: 12px 83px;
  border: none;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.9;
  box-sizing: border-box;
  max-width: 255px;
  outline: none;
}

.form-tx-btn {
  display: flex;
  gap: 30px;
  padding-top: 35px;
}

.form-text {
  font-family: var(--main-font);
  font-size: 13px;
  line-height: 1.2;
  text-align: center;
  color: #e7e7e7;
  max-width: 255px;
}

.form-btn {
  background-color: var(--yellow-color);
  color: var(--white-color);
  padding: 12px 54px;
  border: none;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.68;
  cursor: pointer;
}

.form-btn:active {
  top: 1px;
  position: relative;
}

.video {
  background-color: var(--background-color);
}

.video-content {
  position: relative;
}

.video-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-svg {
  fill: var(--yellow-color);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  cursor: pointer;
  transition: transform ease-in-out 0.3s;
}

.video-svg:hover {
  transform: scale(1.2);
}

.video-number {
  position: absolute;
  right: -205px;
  top: 35px;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 400px;
  line-height: 1.33;
  color: var(--white-color);
  opacity: 0.02;
}

.map {
  background-color: var(--background-color);
  padding-top: 180px;
}

.map-title {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  color: var(--yellow-color);
}

.map-content {
  position: relative;
}

.map-number {
  position: absolute;
  left: -139px;
  top: -109px;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 400px;
  line-height: 1.33;
  color: var(--white-color);
  opacity: 0.02;
}

.map-block {
  padding-top: 100px;
  cursor: pointer;
}

.questions {
  padding-top: 180px;
  padding-bottom: 180px;
  background-color: var(--background-color);
}

.questions-title {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  color: var(--yellow-color);
}

.questions-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 50px;
  max-width: 1115px;
  margin: 0 auto;
}

.questions-form-text {
  font-family: var(--main-font);
  font-size: 13px;
  line-height: 1.2;
  text-align: center;
  color: #e7e7e7;
  padding-right: 5px;
  max-width: 255px;
  margin: 0 auto;
}

.questions-form-input {
  background-color: var(--white-color);
  opacity: 0.2;
  padding: 12px 95px;
  color: #bebebe;
  border: none;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.9;
  box-sizing: border-box;
  max-width: 255px;
  margin: 0 auto;
}

.questions-form-btn {
  background-color: var(--yellow-color);
  color: var(--white-color);
  padding: 12px 54px;
  border: none;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.68;
  text-align: center;
  cursor: pointer;
  max-width: 255px;
  margin: 0 auto;
}

.footer {
  background-color: var(--background-color);
  padding-bottom: 51px;
}

.footer-content {
  display: flex;
  gap: 160px;
}

.footer-list {
  max-width: 119px;
  margin: 0 auto;
}

.footer-item {
  padding-bottom: 15px;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.05em;
  color: var(--white-color);
}

.footer-item-email {
  display: flex;
  gap: 6px;
}

.footer-email {
  color: var(--yellow-color);
}

.footer-social-block {
  max-width: 239px;
  margin: 0 auto;
}

.footer-social-list {
  fill: var(--white-color);
  display: flex;
  gap: 20px;
}
